<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
        <% if user_logged_in? && current_user.admin? %>
          <% if !@user.activated %>
            <%= "User not activated" %>
          <% else %>
            <%= "User activated" %>
          <% end %>
        <% end %>
    </section>
  </aside>
</div>