<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) + " | Demo Blog" : "Blog" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
  <![endif]-->
</head>
<body>

    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">

      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>

       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
</body>
</html>
